
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: black;
}

.netflixLogo {
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 25px;
}

.navButton {
    background-color: transparent;
    color: white;
    margin-right: 2px;
    border: none;
}

.row {
    color: white;
}

.row h3 {
    float: left;
    padding-left: 30px;
}

.searchControls input{
    width: 50%;
    float: right;
    margin-right: 15px;
}

.movieList {
    color: white;
    border: none;
    width: 99%;
}

.movieGrid{
    display: grid;
    grid-template-areas: 
        "movieArea movieArea movieArea movieArea movieArea"
        "movieArea movieArea movieArea movieArea movieArea"
        "movieArea movieArea movieArea movieArea movieArea"
        "movieArea movieArea movieArea movieArea movieArea";
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: auto;   
    grid-template-rows: min-content;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.movieArea {
    border: none;
    border-color: grey;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

h6 {
    margin-top: 2px;
}

.movieImg {
    min-height: 310px;
}

.movieThumbnail {
    height: 300px;
    width: 200px;
}

.btnRemoveFromWatchlist {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    color: white;
    border: solid;
    border-width: 2.5px;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;    
    margin-top: -50px; 
    margin-left: -103.5px;
    padding: 5px;
}

.lblComingSoon {
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    color: greenyellow;
}

footer {
    color: grey;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .movieGrid {
        display: grid;
        grid-template-areas: 
            "movieArea movieArea"
            "movieArea movieArea"
            "movieArea movieArea"
            "movieArea movieArea";
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: auto;   
        grid-template-rows: min-content;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

@media only screen and (min-width: 600px) {
    .movieGrid {
        display: grid;
        grid-template-areas: 
            "movieArea movieArea"
            "movieArea movieArea"
            "movieArea movieArea"
            "movieArea movieArea";
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: auto;   
        grid-template-rows: min-content;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .movieGrid {
        display: grid;
        grid-template-areas: 
            "movieArea movieArea movieArea"
            "movieArea movieArea movieArea"
            "movieArea movieArea movieArea"
            "movieArea movieArea movieArea";
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: auto;   
        grid-template-rows: min-content;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .movieGrid {
        display: grid;
        grid-template-areas: 
            "movieArea movieArea movieArea movieArea"
            "movieArea movieArea movieArea movieArea"
            "movieArea movieArea movieArea movieArea"
            "movieArea movieArea movieArea movieArea";
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        grid-auto-rows: auto;   
        grid-template-rows: min-content;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .movieGrid {
        display: grid;
        grid-template-areas: 
            "movieArea movieArea movieArea movieArea movieArea"
            "movieArea movieArea movieArea movieArea movieArea"
            "movieArea movieArea movieArea movieArea movieArea"
            "movieArea movieArea movieArea movieArea movieArea";
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        grid-auto-rows: auto;   
        grid-template-rows: min-content;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 1310px) {
    .movieGrid {
        display: grid;
        grid-template-areas: 
            "movieArea movieArea movieArea movieArea movieArea movieArea"
            "movieArea movieArea movieArea movieArea movieArea movieArea"
            "movieArea movieArea movieArea movieArea movieArea movieArea"
            "movieArea movieArea movieArea movieArea movieArea movieArea";
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        grid-auto-rows: auto;   
        grid-template-rows: min-content;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}